  <h1 class="text-center mt-4">Listing All Articles</h1>

  <div class="container my-3">
    <div class="row justify-content-center">
      <div class="col-6">

        <%= link_to "Create Article", new_article_path, class: "btn btn-outline-primary btn-block" %>
      </div>
    </div>
  </div>

  <%= render 'article'%>

