<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Vignesh Kumar", "https://alpha-blog-vignesh.herokuapp.com/", target: "_blank", class: "text-white" %></small>
    </div>
</footer>